.card {
    background-color:white ; /* צבע אדום בורדו */
    color: #800000; /* צבע טקסט לבן כדי להקנות ניגודיות */
}

.card-img-top {
    width: 100%; /* רוחב מלא */
    height: auto; /* גובה אוטומטי */
}

.card-body {
    font-size: 16px; /* גודל טקסט אחיד */
}

.btn-custom {
    background-color: #800000; /* צבע אדום בורדו */
    color: white; /* צבע טקסט לבן */
    border: none; /* הסרת גבול הכפתור */
}

.btn-custom:hover {
    background-color: #a00000; /* צבע אדום כהה יותר בעת ריחוף */
}

