<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<div class="gallery">
    <img src="slider2.png" alt="Image 2" class="gallery-image">
</div>

<div class="text-content" style="animation: fadeIn 1s;">
    <br>
    <h1>Ezer Mitzion - our story</h1>
    <hr class="red-line">
    <p>We have the right to help.</p>

    <p>and their families, the elderly, children and adults with disabilities,
    holocaust survivors and anyone in need of assistance in times of crisis.
    Empowering patients through a wide range of services, a professional team and thousands of volunteers throughout the country, we help</p>
    
    <p>And provide support to thousands of babies, children, women, men and adults, every year, for decades.
    From medical advice to the distribution of hot meals,
    Nursing care and dormitories for children with special needs,
    From the loan of medical equipment to a center for supportive communication. We are with you.</p>
    
    <h2>We invite you to join us in the "Life-saving prize" raffle, a once-in-a-lifetime opportunity</h2>
    <h2>per year to support our life-saving system, and also win prizes!</h2>
</div>

<div class="buttons">
    <button (click)="enterLottery()" class="btn">Buy raffle tickets now</button>
</div>
<div class="gallery">
    <img src="Try.png" alt="Image 2" class="gallery-image">
</div>